body {
  margin-top: 0px;
  margin-bottom: 0px;
}
.header{
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
}
.top {
  display: flex;
  justify-content: space-between;
}
.top img {
  width: 130px;
  cursor: pointer;
  margin-left: 560px;
}
.d-flex{
  margin-right: 16px;
}
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(36, 35, 35);
  border-radius: 10px;
  height: 50px;
  
}
.bottom ul li{
  list-style: none;
  display: inline-block;
  margin: 0 40px;
  padding-top: 15px;
  position: relative;
}
.bottom li a {
  /* margin: 5px 40px; */
  /* padding: 10px 40px; */
  text-decoration: none;
  color: rgb(255, 0 ,6);
}
.bottom ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background-color: #ffffff;
  position: absolute;
  left: 0px;
  bottom: -6px;
  transition: 0.4s;
}
.bottom ul li:hover:after {
  cursor: pointer;
  width: 100%;
}
.header {
  background-color: black;
  font-family: 'Ubuntu', sans-serif;
}

.card-group{
  display: flex;
}
.card p{
  font-family: 'Ubuntu', sans-serif;
}
.sectionHeader{
  display: flex;
  background-color: black;
  color: #ffffff;
  margin: 10px 0px;
  height: 45px;
  font-family: 'Ubuntu', sans-serif;
}
.center{
  align-items: center;
  justify-content: center;
}
footer{
  background-color: crimson;
  color: white;
  height: 40px;
  padding: 15px 0px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  border: 2px solid black;
}
.more{
  margin: 10px;
  display: flex;
  justify-content: center;
}
.more img{
  border-radius: 15px;
}
.creation{
  display: flex;
  justify-content: center;
}
.name{
  color: black;
}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color:crimson;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
.Login{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.Login button{
  border-radius: 10px;
  border: 3px solid black;
}
  